* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width: 40%;
  --border-radius: 5px;
  --base: #ff0000;
  --padding: 0px;
  --blur: 0px;
  --brightness: 100%;
  --saturation: 100%;
  --contrast: 100%;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: azure;
  padding: 1rem;
}

img {
  width: var(--width);
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--base);
  filter: blur(var(--blur)) brightness(var(--brightness))
    saturate(var(--saturation)) contrast(var(--contrast));
}

.form-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.image-container {
  overflow: hidden;
}
